<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Getting Ready for EMAPTA</h1>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Company name</th>
        <!--<th>Contact</th>-->
        <th>Action</th>
        <!--<th colspan="3"></th>-->
      </tr>
      </thead>

      <tbody>
      <% @companies.each do |company| %>
          <tr>
            <td><%= company.company_name %></td>
            <!--<td><%= company.contact %></td>-->
            <td><%= link_to 'View Contacts', company, :class => 'btn btn-default' %></td>
            <!--<td><%= link_to 'Edit', edit_company_path(company) %></td>-->
            <!--<td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Add New Company', new_company_path, :class => 'btn btn-default', :style => 'float:right;' %>

  </div>
</div>
